:root {
  --exam-name: 24px;
  --timer-div: 36px;
  --timer: 36px;
  --remaining: 14px;
  --mark: 20px;
  --q-p: 18px;
  --option: 16px;
  --q-num: 18px;
  --back: 30px;
  --submit: 18px;
  --next: 30px;
  --marked: 20px --menu:20px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Alexandria;

}

body {
  background-color: rgba(36, 36, 36, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.background-circle {
  width: 800px;
  height: 800px;
  flex-shrink: 0;
  border-radius: 50%;
  opacity: 0.5;
  background: #D42044;
  position: absolute;
  filter: blur(250px);
  top: auto;
  left: auto;
  bottom: -400px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: row;

  width: 1420px;
  height: 590px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.menu {
  display: none;
  font-size: var(--menu);

}



.question {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}



.exam-name {

  left: 45px;
  top: 30px;
  color: #D42044;
  font-size: var(--exam-name);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.top-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer>div {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: var(--timer-div);
  color: #000000;
}



.time {
  color: #20D43B;
  font-size: var(--timer);
  font-weight: 600;

}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}

.remaining {
  margin: 0;
  color: #B6B6B6;
  font-size: var(--remaining);
  font-weight: 400;
  text-align: center;
}

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleAndMark {
  display: flex;
  justify-content: space-between;
  padding: 0px 18px;
}


.mark {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #EBEBEB;
  color: #D42044;
  font-size: var(--mark);

}



.q {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.q>p {
  font-size: var(--q-p);
}

.q>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  background: #D9D9D9;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 2%;
  align-self: center;
  width: 94%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #D9D9D9;
  background: #E9E9E9;
  color: #818181;
  font-size: var(--option);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.option:hover {
  background: #D9D9D9;
}



.q-number {
  display: flex;
  margin-top: 2%;
  align-self: center;
  width: 96%;
  height: 40px;
  border-radius: 10px;
  color: #B6B6B6;
  font-size: var(--q-num);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.bottom-section {
  display: flex;
  width: auto;
  height: auto;
  padding: 15px;
  justify-content: space-between;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(233, 233, 233, 1);
  font-size: var(--back);
  color: rgb(255, 255, 255);
}



.submit {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 77%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #D42044;
  color: rgb(255, 255, 255);
  font-size: var(--submit);
}

.submit:hover {
  background: #a71935;

}

.next {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 124, 124, 1);
  font-size: var(--next);
  color: rgb(255, 255, 255);
}

.next:hover {
  background: #D42044;
}

.active {
  background: #3C3C3C;
  color: #FFF;
}

.active:hover {
  background: #3C3C3C;

}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: auto;
  flex-shrink: 0;
  border-radius: 10px;

}

.marked {
  
  width: 80%;
  height: 84%;
  border-radius: 10px;
  border: 2px solid #D9D9D9;
  background: #E9E9E9;
  font-size: var(--marked);
}
.marked .top{
  padding: 0px 0px 0px 20px;
  height: 10%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center
}
#close{
  cursor: pointer;
}

.marked>p {
  position: relative;
  top: 15px;
  left: 15px;

}

@media (min-width: 551px) and (max-width: 780px) {

  .next {
    width: 10%;
  }

  .back {
    width: 10%;
  }

  .submit {
    width: 73%;
  }


}

@media (min-width: 300px) and (max-width: 600px) {
  :root {
    --exam-name: 22px;
    --timer-div: 34px;
    --timer: 34px;
    --remaining: 14px;
    --mark: 20px;
    --q-p: 16px;
    --option: 14px;
    --q-num: 16px;
    --back: 28px;
    --submit: 16px;
    --next: 28px;
    --marked: 18px;
    --menu: 28px;

  }

  .menu {
    display: flex;
    color:#3C3C3C;
    cursor: pointer;
  }
  .menu:hover{
    color: #737373;
  }

  .marked {
    display: none;
  }

  .side {
    width:0%;
  }

  .question {
    width: 100%;
  }

  .next {
    width: 12%;
  }

  .back {
    width: 12%;
  }

  .submit {
    width: 69%;
  }


}