:root {
  --exam-name: 24px;
  --icon: 140px;
  --sorry: 38px;
  --innermessage: 18px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Alexandria;

}

body {
  background-color: rgba(36, 36, 36, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.background-circle {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 50%;
  opacity: 0.5;
  background: #D42044;
  position: absolute;
  filter: blur(250px);
  top: auto;
  left: auto;

  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #FFF;

}

.exam-name {
  color: #000;
  text-align: center;
  font-size: var(--exam-name);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.message{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.sorry {
  color: #D42044;
  text-align: center;
  font-size: var(--sorry);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inner-message {
  width: 300px;
  color: #818181;
  text-align: center;
  font-size: var(--innermessage);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
i{
  color: #D42044;
  font-size: var(--icon);
}
@media (min-width: 300px) and (max-width: 600px) {
  .circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
  }
  :root {
    --exam-name: 18px;
    --icon: 95px;
    --sorry: 32px;
    --innermessage: 14px;
  }
}